body{
    color: white;
    background-color: black;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: white;
    text-decoration: none;
}

img{
    width: 900px;
    height: 800px;
 }

 h1{
    color: gold;
 }