body{
    color: white;
    background-color: black;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: white;
    text-decoration: none;
}

h3{
    color: aqua;
}

header{
    text-align: center;
}